<%- include('../../../partials/header'); %>
<%- include('../../../partials/navbar'); %>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">

        <div class="col">
          <a href="/historico/cadastro">
            <div class="card">
              <img src="/img/historicoDeProduto.jpg" class="card-img-top" alt="Placas de processo SMT">
              <div class="card-body">
                <h5 class="card-title">Cadastro</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </a>          
        </div>

        <div class="col">
          <a href="/historico/lista">
            <div class="card">
              <img src="/img/historicoDeProduto.jpg" class="card-img-top" alt="Placas de processo SMT">
              <div class="card-body">
                <h5 class="card-title">Lista</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </a>  
        </div>
        
        <div class="col">
          <a href="/historico/busca">
            <div class="card">
              <img src="/img/historicoDeProduto.jpg" class="card-img-top" alt="Placas de processo SMT">
              <div class="card-body">
                <h5 class="card-title">Busca</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </a>  
        </div>

      </div>
</div>


<%- include('../../../partials/footer'); %>
