<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Deletar Stencil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Certeza que deseja excluir o Stencil "<%= descricao %>" de ID "<%= id %>"
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <form action="/stencil/lista/deletar" method="post">
                    <input type="hidden" name="<%= id %>">
                    <input type="hidden" name="<%= descricao %>">
                    <button type="submit" id="modalDel" class="btn btn-danger">Deletar</button>
                </form>
                
            </div>
            
        </div>
    </div>
</div>
<!-- Modal -->                