<nav class="navbar navbar-expand-lg navbar-dark text-white bg-primary ">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="/">
        <img src="/img/caixa-de-ferramentas.svg" alt="logo caixa de ferramentas" width="40px">
        Caixa de Ferramentas
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a href="/historico" class="nav-link">Histórico</a>
          <a href="/stencil" class="nav-link">Stencil</a>
          <a href="/estoque" class="nav-link" >Estoque</a>
          <a href="/maquina" class="nav-link" >Máquina</a>
        </div>
      </div>
    </div>
  </nav>
  