<%- include('../partials/header'); %>


<div class="container mt-4">

    <!-- ETIQUETA -->
    <div class="etiqueta d-flex">
          
        <!-- IMAGEM -->
        <div class="flex-row divImg">
            <img src="<%= src %>" alt="QRCode" width="73px">
        </div><!-- IMAGEM -->


    </div><!-- ETIQUETA -->


</div>
    
<%- include('../partials/footer'); %>
    