<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">

        <div class="col">
          <a href="/historico-de-produto">
            <div class="card">
              <img src="/img/historicoDeProduto.jpg" class="card-img-top" alt="Placas de processo SMT">
              <div class="card-body">
                <h5 class="card-title">Histórico de Produto</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </a>          
        </div>

        <div class="col">
          <a href="/cadastro-de-stencil">
            <div class="card">
              <img src="/img/stencil.jpg" class="card-img-top" alt="Imagens de stencil">
              <div class="card-body">
                <h5 class="card-title">Cadastro de Stencil</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </a>  
        </div>

        <div class="col">
          <a href="/estoque-de-pecas">
            <div class="card">
              <img src="/img/estoque.jpg" class="card-img-top" alt="Imagem de estoque de peças">
              <div class="card-body">
                <h5 class="card-title ">Estoque de Peças</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
              </div>
            </div>
          </a>  
        </div>

        <div class="col">
          <a href="maquinas-e-manutencoes">
            <div class="card">
              <img src="/img/maquinasManutencoes.jpg" class="card-img-top" alt="Imagem de máquina de montagem de componentes SMT">
              <div class="card-body">
                <h5 class="card-title">Máquinas e Manutenção</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </a>
        </div>
      </div>
</div>


<%- include('../partials/footer'); %>
